.main-header {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	font-family: verdana;
}

.button {
	background: black;
	color: pink;
	padding: 10px 25px;
	border: 5px pink solid;
}

.button:hover {
	background: pink;
	color: black;
	
}
#main-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);
}
.showcase {
	
	padding: 250px;
	margin-bottom: 20px;
	background-image: url(../images/asawako.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 5px #9f8260;
	border: 5px black solid;
}
.main-article {
	
	margin-bottom: 20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 1fr;
}
.main-article-left {
	
	background: black;
	color: pink;
	padding: 40px;
	display: grid;	
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr;
	box-shadow: 0 0 5px #9f8260;
	border: 5px pink solid;
	
}
.main-article-left p {
	margin: 40px 0 60px 0;
}

.main-article-left h3 {
	margin-top: 30px;
}
.main-article-right {
	text-align: center;
	background: black;
	padding: 30px;
	color: pink;
	box-shadow: 0 0 10px #9f8260;
	border: 5px pink solid;	
}
.main-article-right h4 {
	margin-top: 20px;
}
.main-article-right p {
	text-align: justify;
	padding: 5px 30px;
	margin-bottom:40px;
	margin-top: 0;
}	
.wammu {
	margin-bottom: 20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 3fr;
}
.wammu-right {
	text-align: center;
	background: black;
	padding: 30px;
	color: pink;
	box-shadow: 0 0 10px #9f8260;
	border: 5px pink solid;	
}
.wammu-right h4 {
	margin-top: 65px;
}
.wammu-right p {
	text-align: justify;
	padding: 5px 30px;
	margin-bottom:40px;
	margin-top: 0;
}	
.wammu-left {
	
	background: black;
	color: pink;
	padding: 40px;
	display: grid;	
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr;
	box-shadow: 0 0 5px #9f8260;
	border: 5px pink solid;
	
}
.wammu-left p {
	margin: 40px 0 60px 0;
}

.wammu-left h3 {
	margin-top: 30px;
}

.footer {
	text-align: center;
	color: pink;
	padding: 25px;
	background: black;
	margin-bottom: 10px;
	border: 5px pink solid;	
}